html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html:-webkit-scrollbar { 
    display: none;
}

body {
    margin: 0;
    scroll-behavior: smooth;

}


h1, h2 {
    font-weight: 400;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.intro {
    width: 792px;
    height: 306px;
    margin: auto;
    margin-bottom: 3vh;
    font-family: 'Open Sans', sans-serif;
}

.intro h1 {
    font-size: 28px;
}

.page-template-container {
    position: relative;
    margin-bottom: 6vh;
}
.page-template-container:last-of-type:not(first-of-type) {
    margin-bottom: calc((100vh - 612px) / 2);
}
.page-image-container {
    display: flex;
    justify-content: center;
}
.doodle-images-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
.doodle-images-container ul {
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

    -ms-overflow-style: none;
    scrollbar-width: none;
}
.doodle-images-container ul::-webkit-scrollbar { 
    display: none;
}
.doodle-images-container li {
    width: 792px;
    margin-left: 8vw;
}
.doodle-images-container li:first-of-type {
    margin-left: calc((100% - 792px) / 2);
}
.doodle-images-container li:last-of-type:not(first-of-type) {
    padding-right: calc((100% - 792px) / 2);
}

@media (min-height: 306px) {
    .intro {
        margin-top: calc((100vh - 306px) / 2);
    }
}
